*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
a{
  color: rgb(0, 217, 255);
}
a:hover{
  color: rgb(0, 81, 255);
}
.header{
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header__logo{
  height: 100px;
  width: 100%;
  object-fit:fill;
}
.header__menu{
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  display: inherit;
  flex-direction: row;
}
.header__menu li{
  list-style: none;
}
.header__menu a{
  text-decoration: none;
  text-align: center;
}
h1,h2,h3,h4{
  text-align: center;
}
form{
  display: flex;
  align-items: center;
  flex-direction: column;
  letter-spacing: -0.036em
}

input{
  border-radius: 15px;
  background-color: rgb(18, 20, 20);
  color: white;
  width: 50px;
  padding-left: 4px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

button:hover{
  cursor: pointer;
}
details{
  display: inline;
}

details[open] {
  display: contents;
}
details p{
  padding-left: 10px;
}
summary{
  list-style: none;
  display: inline;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
section button{
  display: block;
  margin: 0 auto;
}
button a{
color: black;
text-decoration: none;

}

